/* Leaving other queries empty incase I should later need to adjust */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button-div {
    width: 95%;
  } 
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .quote-box {
    height: 70%;
    width: 50%;
  }

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

@media only screen and (orientation: landscape) {
  .quote-box {
    height: 100vh;
  }
}



